<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/font-awesome.css" rel="stylesheet" media="screen">
<link href="css/main.css" rel="stylesheet" media="screen">

<title>AccueilCDB</title>
<head>
	<body>
		<p> 
			<br/><div style="text-align: center"> <img src="images/excilys495-295.png" alt="Logo excilys"/></div>
		<p/>
		<div class="pull-left">
		            <a class="btn btn-success" id="editComputer" href="editComputer.html">Edit Computer</a>
		</div>
		<div class="pull-right">
                    <a class="btn btn-success" id="addComputer" href="addComputer.html">Add Computer</a>
		</div>
		<div class="text-center">
		            <a class="btn btn-success" id="dashboard" href="dashboard.html">List Computer</a>
		</div>
		
		
	</body>
</html>